@charset "UTF-8";
// Service Color
$primary: #38A1F3;
$secondary: #8fcdfc;
$accent: #02af36;
$error: #bd2525;

$white: #fefefe;
$gray-light-3: #eaf1f8;
$gray-light-2: #adbbce;
$gray-light-1: #6e88a0;
$gray: #777;
$gray-dark-1: #405d83;
$gray-dark-2: #1f3d64;
$body: #0f2644;
$black: #0a0a0a;
